{% extends 'menu.html' %}
{% block title %} Игры {% endblock %}

{% block pagename %}
{{ block.super }}
{% endblock %}

{% block menu %}
{{ block.super }}
{% endblock %}

{% block content %}
<hr size="2">
<ul class="center">
    {% for game in page_obj %}
    <li>
        <p>{{ game.title }} | {{ game.description }}. Стоимость: {{ game.cost }}
            <button>Купить</button>
        </p>
    </li>
    {% endfor %}
</ul>
{{ block.super }}
{% endblock %}

{% block registration %}
{{ block.super }}
{% endblock %}